API_ID=18220287 # get this value from my.telegram.org
API_HASH=5c031b7bf61050db415b631a743947a6 # get this value from my.telegram.org
BOT_TOKEN=6091601768:AAEGdvPjri-Mwm-wxMfzUkRxVy8Y5yswskc # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Bikash:Bikash@bikash.yl2nhcy.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001774462729 # get this value from in your log group 
MUSIC_BOT_NAME=Yummi Music # your music bot name 
STRING_SESSION=BQEWBP8ATK2pHRtLxUSYW1cJ1cw77UntnEwW_0ZBO6Z_PcJhmwq7rtdn2Gyo0kJ2todGB6nZbHARgBv4mny7UXMpsJvtpKm8LaAaMpCpUfxB6IUJJOGtOd54kqa6IZl1x1L1QnVwC7tWWmbjH4glG4qGEAOeVve9-hU-3KIMr_jQORIO-1txshfj2peXtwBUPX2G7Ye9oP5MmYAM7mrrGUDdUaEZrezvJswkS3k0OFWSNXWZL5xdAoQOKjbgH6VPYo3oSbeOotEb27MVtpE1HCzctPp9zuywzswNXuvVffgXuzvy_v80B2A5deue73Ad5x-QIFYgr1BUf98l9RkVrh9RO3DlpgAAAAEv_a1QAA
SUPPORT_GROUP=https://t.me/+9tQuKzSjMtUyYWI1 # support group 
SUPPORT_CHANNEL=https://t.me/+fCpBVTWIvLUyMWU1 # support channel 
START_IMG_URL=https://te.legra.ph/file/41fc8688a208749a33cef.jpg # strt
OWNER_ID=6209716882 # owner 
